<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <!-- <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li> -->
          <li class="nav-item">
            <%= link_to "AI Assistant", questions_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button"
               data-bs-toggle="dropdown" aria-expanded="false" id="navbarDropdown">
                <% if current_user.avatar.attached? %>
                  <%= cl_image_tag current_user.avatar.key,
                      width: 56, height: 56, dpr: 2, crop: :fill, gravity: :face,
                      quality: "auto", fetch_format: "auto",
                      class: "rounded-circle me-2", style: "object-fit:cover;" %>
                <% else %>
                  <%= image_tag "https://via.placeholder.com/56",
                      width: 56, height: 56,
                      class: "rounded-circle me-2", style: "object-fit:cover;" %>
                <% end %>
              </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user&.products&.any? %>
                <%= link_to "My Products", my_products_products_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Sell a Product", new_product_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
