<%= simple_form_for @product do |f| %>

  <div class="form-group">
    <%= f.input :name %>
  </div>

  <div class="form-group">
    <%= f.input :description %>
  </div>

  <div class="form-group">
    <%= f.input :price %>
  </div>

  <div class="form-group">
    <%= f.input :stock_quantity %>
  </div>

  <div class="form-group">
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: "Choose a category" %>
  </div>

  <div class="form-group">
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  </div>

  <%= f.submit @product.persisted? ? "Update Product" : "Create Product", class: "btn-main" %>


<% end %>
